.background{
    background-color: black;
}

.github{
    color: white;
}
hr{
    height: 2px;
    background-color: teal;
}
.colorfavicon{
    color: white;
    width: 25%;
    height: 20px;
    
}
.backgroundfavicon{
    height: 33px;
    width: 100%;
}
p{
    color: white;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}